html, body{
    height: 100%;
    width: 100%;
    margin: 0;

    background-image: url("../pic/hero-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#log_in{
    height: 80%;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.682);
    padding: 5%;
    box-sizing: border-box;
}
h1{
    color: white;
    margin: 5;
}
h5{
    margin-bottom: 0;
}
#input_box{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}
input{
    background-color: rgba(78, 77, 77, 0.862);
    color: white;
    height: 20%;
    border-radius: 3%;
}
#in{
    background-color: red;
    height: 20%;
    margin-top: 5;
}
#checkbox{
    height: 60%;
    display: inline-block;
}
#emblem{
    position: absolute;
    top: 15px;
    left: 20px;
}
#logo{
    height: 50px;
}
#check{
    display: flex;
    justify-content: space-between;
    color: rgb(143, 142, 142);
}
#help{
    margin-left: 10px;
    color: rgb(143, 142, 142);
    text-decoration: none;
}
#inform{
    color: rgb(143, 142, 142);
    display: flex;
    flex-direction: column;
}
#sign_up{
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
}
#sign_page{
    color: white;
    text-decoration: none;
}
#learn_page{
    color: rgb(25, 25, 193);
    text-decoration: none;
}
#warning{
    margin: 0;
}